

.video-background-holder {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.video-background-holder video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.video-background-content {
  position: relative;
  z-index: 2;
}

.video-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.formbox{
  width: 390px;
  height: 430px;
  float: center;
  background: white;
  padding: 20px;
  position: absolute;
  left: 0;
  right: 0;
  top: 70px;
  bottom: 0;
  margin: auto;
  display: inline-block;
  overflow: hidden;
}

.button-box{
  width: 260px;
  margin: 35px auto;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}

.toggle{
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  overflow: hidden;

}

#btn1{
  top: 0;
  left: 0;
  position: absolute;
  width: 150px;
  height: 100%;
  background-color: dodgerblue;
  border-radius: 30px;
  transition: 0.5s;
  overflow: hidden;
  


}


.input{
  top: 130px;
  position: absolute;
  width: 280px;
  transition: .5s;
  overflow: hidden;
}

.input-field{
  width: 100%;
  padding: 5px 0;
  margin: 12px 10px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
  overflow: hidden;
  white-space: normal;
}

.submit-btn{
  width: 85%;
  height: 40px;
  padding: 60 px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background-color: dodgerblue;
  border: 0;
  outline: none;
  border-radius: 30px;
  overflow: hidden;
}

#faculty{
  left: 21px;
}

#student{
  left: 450px;
}

